@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

@import "tailwindcss";

@theme{
  --color-primary: #2067da;
  --color-secondary: #8c7225;
  --color-zinmyo-100: #B78628;
  --color-zinmyo-200: #c69320;
  --color-zinmyo-300: #DBA514;
  --color-zinmyo-400: #EEB609;
  --color-zinmyo-500: #FFC201;
  --color-primary-dull: #D63854;
}

/* /* *{
  font-family: Outfit;
} */

.font-playfair{
  font-family: Playfair !important;
} 

html,body{
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
