

.ebYBDp {
    background-color: rgb(233, 235, 238);
    color: rgb(42, 42, 46);
}

.ecnbjK {
    padding: 48px 16px;
    max-width: 1132px;
    display: flex;
}

.bTfdsi {
    width: 20%;
    flex-direction: column;
    display: flex;
    color: rgb(42, 42, 46);
}
.jnovdp {
    font-weight: 600;
    line-height: calc(20.33px);
    font-size: 18px;
    margin-top: calc(10.67px);
    margin-bottom: calc(10.67px);
}

.fvtxAH {
    margin: 12px 0px;
}

.theme-agoda .LinksListGroup-list, .theme-agoda .LinksListGroup-title, .theme-agoda section .LinksListLink-link, .theme-agoda section .LinksListLink-link:hover {
    color: #5b5b5b;
}

.LinksListGroup-list {
    margin: 0;
}

ol, ul {
    list-style: none;
    margin-top: 0;
    outline: 0;
    padding: 0;
}

li {
    display: list-item;
    unicode-bidi: isolate;
}

.fKIcfn {
    background-color: transparent;
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.kitPor {
    color: rgb(42, 42, 46);
}


.DKsEd {
    font-size: 16px;
    line-height: 29px;
    font-weight: 400;
    margin: 0px;
}

html body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif !important;
}

.kitPor:visited, .kitPor:focus, .kitPor:hover {
    text-decoration: underline;
    outline: none;
    color: rgb(42, 42, 46);
}
/* ---------------------------------------------- */

.ads-agoda-deprecateInaccessibleColor {
    --ads-bg-deprecated-neutral-4: #eff4fc;
    --ads-bg-deprecated-neutral-5: #5e6b82;
    --ads-bg-deprecated-neutral-alpha-1: rgba(4, 7, 10, .24);
    --ads-bg-deprecated-neutral-disabled-1: rgba(37, 44, 56, .08);
    --ads-bg-deprecated-neutral-disabled-2: rgba(37, 44, 56, .08);
    --ads-bg-deprecated-neutral-disabled-3: rgba(37, 44, 56, .08);
    --ads-bg-deprecated-neutral-disabled-4: rgba(37, 44, 56, .08);
    --ads-bg-deprecated-primary-brand: #2067da;
    --ads-bg-deprecated-primary-citycenter: #2067da;
    --ads-bg-deprecated-primary-easycancel: #e5efff;
    --ads-bg-deprecated-primary-golocal: #2067da;
    --ads-bg-deprecated-primary-map-landmark: #2067da;
    --ads-bg-deprecated-primary-map-shopping: #2067da;
    --ads-bg-deprecated-primary-map-transportation: #2067da;
    --ads-bg-deprecated-primary-new: #2067da;
    --ads-bg-deprecated-primary-preferred: #2067da;
    --ads-border-deprecated-neutral-4: #5e6b82;
    --ads-border-deprecated-neutral-disabled-1: #5e6b82;
    --ads-border-deprecated-primary-preferred: #2067da;
    --ads-colors-deprecated-neutral-disabled-2: rgba(37, 44, 56, .24);
    --ads-colors-deprecated-primary-easycancel: #2067da;
    --ads-colors-deprecated-primary-golocal: #fff;
    --ads-colors-deprecated-primary-vip-gold: #fff;
    --ads-colors-deprecated-secondary-interactive: #252c38;
}