.GzRDU {
    font-weight: 400;
    color: rgb(94, 107, 130);
    fill: rgb(94, 107, 130);
    line-height: calc(14.98px);
    font-size: 14px;
    margin-top: calc(-0.98px);
    margin-bottom: calc(-0.98px);
}

.jfliTI {
    margin: 0px;
    padding-left: 2px;
    padding-right: 2px;
}